* {
  font-size: 20px;
  color: #094d74;
  box-sizing: border-box;
}
body {
  background-color: #527ec5;
}
div a {
  text-decoration: none;
  color: #eef0f6;
}
header {
  background-color: #9cb9d1;
  width: 100%;
  min-height: 100px;
  border-bottom: 6px solid #759cd8;
}
nav {
  background-color: #9cb9d1;
  border: 3px solid #759cd8;
}
nav a {
  text-decoration: none;
  color: #eef0f6;
  display: block;
  width: 100%;
  height: 50px;
}

nav div div {
  border: 3px solid #759cd8;
  background-color: #094d74;
  height: 50px;
  padding: 5px 0 0 0;
}
h2 {
  background-color: #9cb9d1;
  border: 6px solid #759cd8;
  border-bottom: 0;
}
.header-contentt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  min-height: 100px;
}
header img {
  max-width: 120px;
  max-height: 80px;
  border: 3px solid #759cd8;
  border-radius: 35px;
}
.header-contentt a {
  display: inline-block;
  text-decoration: none;
  color: #eef0f6;
  font-size: 24px;
}
.content-main {
  background-color: #9cb9d1;
  border: 6px solid #759cd8;
}
.col-md-12.main_box.mt-4.order-sm-1 {
  padding: 0 0 0 0;
}
.col-md-12.main_box.mt-4.order-sm-3 {
  padding: 0;
}
.col-md-12.main_box.mt-4.order-sm-2 {
  padding: 0;
}
table {
  border: 6px solid #6f768a;
}
form {
  font-weight: 500;
}

footer {
  background-color: #9cb9d1;
  width: 100%;
  min-height: 100px;
  border-top: 6px solid #759cd8;
  text-align: left;
  padding: 30px 0;
}
